.menu .bar.bar-header.expanded {
    background-image: url("../images/menu-bg.jpg");
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

ion-item {
    font-weight: bold;
}

ion-item [class^="flaticon-"], ion-item[class*=" flaticon-"] {
    margin-right: 25px;
    color: #888;
}

ion-item.categoria {
    border-top: #888 solid 1px !important;
    color: #888;
}

ion-item.categoria > label {
    font-weight: bold;
}

.menu-title {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.avatar.logo {
    margin-top: 10px;
}

ng-outlet > * > ion-content:first-child {
    margin-top: 50px;
}