.avatar.logo {
    border-radius: 5%;
}

ion-content,
ion-list > div.list {
    background-color: white !important;
}

ion-side-menu > ion-header-bar {
    margin-top: -12px;
}

ion-side-menu > ion-content {
    margin-top: -24px !important;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0 !important;
}