.content-row * {
    color: #656d78;
}

.main-container > .row {
    height: 10em;
    transform: skewY(3deg) translateY(-1em);

    -webkit-box-shadow: inset 0 0.1em 0.5em 0 #434a54;
    -moz-box-shadow: inset 0 0.1em 0.5em 0 #434a54;
    -o-box-shadow: inset 0 0.1em 0.5em 0 #434a54;
    box-shadow: inset 0 0.1em 0.5em 0 #434a54;
}

.main-container > .row:not(.flipInX) > * {
    transform: skewY(-3deg) translateY(1em);
    padding-top: 0.5em;
}

.main-container > .row:not(.flipInX):first-child > * {
    padding-top: 1em;
}

.main-container > .row.flipInX {
    height: 110px;
}

.main-container > .row:nth-child(1) {
    background: -webkit-linear-gradient(top left, #a0d468, #8cc152);
    background: -o-linear-gradient(top left, #a0d468, #8cc152);
    background: -moz-linear-gradient(top left, #a0d468, #8cc152);
    background: linear-gradient(to top left, #a0d468, #8cc152);
}

.main-container > .row:nth-child(1) > * > i,
.main-container > .row:nth-child(1) > * > label {
    color: #468600 !important;
}

.main-container > .row:nth-child(2) {
    background: -webkit-linear-gradient(top left, #48cfad, #37bc9b);
    background: -o-linear-gradient(top left, #48cfad, #37bc9b);
    background: -moz-linear-gradient(top left, #48cfad, #37bc9b);
    background: linear-gradient(to top left, #48cfad, #37bc9b);
}

.main-container > .row:nth-child(2) > * > i,
.main-container > .row:nth-child(2) > * > label {
    color: #004433 !important;
}

.main-container > .row:nth-child(3) {
    background: -webkit-linear-gradient(top left, #4fc1e9, #3bafda);
    background: -o-linear-gradient(top left, #4fc1e9, #3bafda);
    background: -moz-linear-gradient(top left, #4fc1e9, #3bafda);
    background: linear-gradient(to top left, #4fc1e9, #3bafda);
}

.main-container > .row:nth-child(4) {
    background: -webkit-linear-gradient(top left, #5d9cec, #4a89dc);
    background: -o-linear-gradient(top left, #5d9cec, #4a89dc);
    background: -moz-linear-gradient(top left, #5d9cec, #4a89dc);
    background: linear-gradient(to top left, #5d9cec, #4a89dc);
}

.main-container > .row:nth-child(5) {
    background: -webkit-linear-gradient(top left, #ac92ec, #967adc);
    background: -o-linear-gradient(top left, #ac92ec, #967adc);
    background: -moz-linear-gradient(top left, #ac92ec, #967adc);
    background: linear-gradient(to top left, #ac92ec, #967adc);
}

.main-container > .row:nth-child(6) {
    background: -webkit-linear-gradient(top left, #ec87c0, #d770ad);
    background: -o-linear-gradient(top left, #ec87c0, #d770ad);
    background: -moz-linear-gradient(top left, #ec87c0, #d770ad);
    background: linear-gradient(to top left, #ec87c0, #d770ad);
}

.main-container:not(.active) {
    background: -webkit-linear-gradient(top left, #656d78, #434a54);
    background: -o-linear-gradient(top left, #656d78, #434a54);
    background: -moz-linear-gradient(top left, #656d78, #434a54);
    background: linear-gradient(to top left, #656d78, #434a54);
}

.main-container.active > .row:not(.active) {
    display: none;
}

.main-container.active > .row.active {
    position: absolute;
    top: 0;
    width: 100%;
}

.menu-icon {
    font-size: 3.5em;
    padding-top: 0.8em;
}

.main-container.active .menu-icon {
    display: none;
}

.main-container.active .menu-icon.menu-icon-back {
    font-size: 2em;
    padding-top: 0.5em;
    display: block;
}

.menu-label {
    font-size: 1.5em;
    padding-top: 1.5em;
    padding-left: 1.5em;
}

.main-container.active .menu-label {
    font-size: 1.2em;
    padding-top: 0.9em;
    float: right;
}

.search-row {
    display: none;
}

.main-container.active .search-row {
    display: block;
    margin-top: 4.5em;
}

.search-row input {
    background: transparent;
    border-color: transparent;
    border-bottom: 0.1em solid #e6e9ed;
    width: 100%;
    color: #e6e9ed;
    outline: none;
}

.search-row button {
    background: transparent;
    border: none;
}

.search-row input ~ .menu-search {
    position: absolute;
    top: 0;
    right: 1em;
    transition: all ease-in-out 0.3s;
}

.search-row input:focus ~ .menu-search {
    right: -1em;
}

.search-row input ~ .menu-clear {
    position: absolute;
    top: 0;
    right: -1em;
    transition: all ease-in-out 0.3s;
}

.search-row input:focus ~ .menu-clear {
    right: 1em;
}

.content-row {
    display: none;
    margin-top: 10em;
}

.search-row ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     color: #656d78;
 }

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #656d78;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #656d78;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #656d78;
}

.main-container.active ~ .content-row {
    display: block;
}

[ui-view].ng-enter {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

[ui-view].ng-leave {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

