.evento-row {
    padding: 2em 0;
    margin: 0;
    border-top: 0.1em solid #8cc152;
}

.evento-row > .row {
    margin: 1em 0;
}

.evento-list-icone {
    padding-left: 0;
}

.evento-list-icone > i {
    color: #8cc152;
}