<div class="container-fluid">
    <div ui-view></div>
</div>
<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <button type="button" class="btn btn-footer eventos" title="Eventos" ui-sref="app.eventos">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-footer galeria" title="Galeria" ui-sref="app.galeria">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-footer" title="Cursos">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-footer" title="Mais">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="row text-center">
            <div class="color-dot"></div>
        </div>
    </div>
</footer>