<div class="col-xs-24 eventos-card-detalhes">
    <div class="row">
        <div class="col-xs-24">
            <h3 class="uppercase">nome evento
                <button class="pull-right btn btn-invisible">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <i class="eventos-info-icon fa fa-flag" aria-hidden="true"></i> Escalada
        </div>
        <div class="col-xs-12">
            <i class="eventos-info-icon fa fa-calendar-check-o" aria-hidden="true"></i> 03/07/2016
        </div>
    </div>
</div>