* {
    color: #e6e9ed;
}

.btn-invisible {
    background-color: transparent;
    border: none;
    padding-top: 0;
}

.hand {
    cursor: pointer;
}

/* LOGIN */

body.login {
    overflow: hidden;
}

.fullscreen-video {
    position: relative;
}

.fullscreen-video video {
    position: absolute;
    overflow: hidden;
}

.fullscreen-video .container {
    text-align: center;
}

.fullscreen-video .container .row:nth-child(1) {
    margin-top: 1.5em;
}

.fullscreen-video .container .row:nth-child(2) {
    margin-top: 2.5em;
}

.fullscreen-video .container .row:nth-child(3) {
    margin-top: 4.5em;
}

.fullscreen-video .container .row:nth-child(4) {
    margin-top: 1em;
}

.fullscreen-video .container .row button i {
    margin-top: 3px;
}

.fullscreen-video button {
    width: 20em;
}

.login-title {
    font-size: 1em;
}

.login-logo {
    max-width: 4em;
}

.uppercase {
    text-transform: uppercase;
}

/* BUTTONS */
.btn-clean {
    background: transparent;
    border: 0.1em solid #e6e9ed;
}

.btn-clean:hover {
    background-color: #8cc152;
}

button {
    text-transform: uppercase;
}

/* BORDER-RADIUS */

.login-logo,
.eventos-card,
button {
    border-radius: 0.25em;
}


.titulo-gradient h1 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.main-container > .row {
    height: 25vh;
    transform: skewY(3deg) translateY(-1em);

    -webkit-box-shadow: inset 0 0.1em 0.5em 0 #434a54;
    -moz-box-shadow: inset 0 0.1em 0.5em 0 #434a54;
    -o-box-shadow: inset 0 0.1em 0.5em 0 #434a54;
    box-shadow: inset 0 0.1em 0.5em 0 #434a54;
}

.main-container > .row:nth-child(1) {
    background: -webkit-linear-gradient(top left, #a0d468, #8cc152);
    background: -o-linear-gradient(top left, #a0d468, #8cc152);
    background: -moz-linear-gradient(top left, #a0d468, #8cc152);
    background: linear-gradient(to top left, #a0d468, #8cc152);
}

.main-container > .row:nth-child(2) {
    background: -webkit-linear-gradient(top left, #48cfad, #37bc9b);
    background: -o-linear-gradient(top left, #48cfad, #37bc9b);
    background: -moz-linear-gradient(top left, #48cfad, #37bc9b);
    background: linear-gradient(to top left, #48cfad, #37bc9b);
}

.main-container > .row:nth-child(3) {
    background: -webkit-linear-gradient(top left, #4fc1e9, #3bafda);
    background: -o-linear-gradient(top left, #4fc1e9, #3bafda);
    background: -moz-linear-gradient(top left, #4fc1e9, #3bafda);
    background: linear-gradient(to top left, #4fc1e9, #3bafda);
}

.main-container > .row:nth-child(4) {
    background: -webkit-linear-gradient(top left, #5d9cec, #4a89dc);
    background: -o-linear-gradient(top left, #5d9cec, #4a89dc);
    background: -moz-linear-gradient(top left, #5d9cec, #4a89dc);
    background: linear-gradient(to top left, #5d9cec, #4a89dc);
}

.main-container > .row:nth-child(5) {
    background: -webkit-linear-gradient(top left, #ac92ec, #967adc);
    background: -o-linear-gradient(top left, #ac92ec, #967adc);
    background: -moz-linear-gradient(top left, #ac92ec, #967adc);
    background: linear-gradient(to top left, #ac92ec, #967adc);
}

.main-container > .row:nth-child(6) {
    background: -webkit-linear-gradient(top left, #ec87c0, #d770ad);
    background: -o-linear-gradient(top left, #ec87c0, #d770ad);
    background: -moz-linear-gradient(top left, #ec87c0, #d770ad);
    background: linear-gradient(to top left, #ec87c0, #d770ad);
}

.main-container {
    background: -webkit-linear-gradient(top left, #656d78, #434a54);
    background: -o-linear-gradient(top left, #656d78, #434a54);
    background: -moz-linear-gradient(top left, #656d78, #434a54);
    background: linear-gradient(to top left, #656d78, #434a54);
}
