<body-class class="login"></body-class>

<div class="fullscreen-video">
    <video full-height full-height-width="1280" preload autoplay loop muted>
        <source src="assets/videos/login-bg.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <img class="login-logo" src="assets/images/logo.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24">
                <h1 class="uppercase login-title">Entre utilizando suas redes sociais</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24">
                <button type="button" class="btn btn-clean" ng-click="vm.login('FACEBOOK')">
                    <i class="pull-left fa fa-facebook" aria-hidden="true"></i>Facebook
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24">
                <button type="button" class="btn btn-clean" ng-click="vm.login('GOOGLE')">
                    <i class="pull-left fa fa-google-plus" aria-hidden="true"></i>Google
                </button>
            </div>
        </div>
    </div>
</div>