<div class="container-fluid main-container">
    <div class="row animated" animate-menu="app.eventos">
        <div class="col-xs-3">
            <i class="material-icons menu-icon" ui-sref="app.eventos">event</i>
            <animate-menu-back></animate-menu-back>
        </div>
        <div class="col-xs-21" ui-sref="app.eventos">
            <label class="menu-label">Eventos e Saídas</label>
        </div>
        <search-row search="main.search"></search-row>
    </div>

    <div class="row animated" animate-menu="app.galeria">
        <div class="col-xs-3">
            <i class="material-icons menu-icon">photo_library</i>
        </div>
        <div class="col-xs-21">
            <label class="menu-label">Galeria</label>
        </div>
    </div>

    <div class="row animated">

    </div>

    <div class="row animated">

    </div>

    <div class="row animated">

    </div>

    <div class="row animated">

    </div>
</div>
<div class="content-row">
    <div class="container-fluid animated" ui-view>
    </div>
</div>